body {
    font-family: Arial;
    background: #f2f2f2;
    margin: 0;
}

header {
    background: #27ae60;
    color: white;
    text-align: center;
    padding: 20px;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

button {
    background: #27ae60;
    color: white;
    padding: 10px;
    border: none;
}
img {
    width: 100%;
    border-radius: 10px;
}
